<%= form_for [@lecture,@lecture.comments.build] do |f| %>

  <div class="field">
    <%= f.label :cont %><br>
    <%= f.text_area :cont %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
